body {
    background-color: #F0F0F0;
}
h1 {
    color: #78ab46;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}
.teams {
    text-align: center;
}
.team-link {
    cursor: pointer;
}
.game-link:hover {
    text-decoration: none !important;
}
.league-img {
    max-width: 42px;
    max-height: 42px;
}
.team-h-img {
    max-width: 64px;
    max-height: 64px;
}