<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Home page</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span></div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 th:if="${errors}">Something went wrong! Please try again later!</h1>
            <div th:if="!${errors}" class="game-list">
                <h1>Games</h1>
                <div th:each="game : ${games}">
                    <h2><a class="game-link" th:href="@{/game/{gameId}(gameId = ${game.id})}">
                        <span th:text="${game.name}"></span>
                    </a></h2>
                    <table th:if="${game.matches != null}" class="table match-wrapper">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Match name</th>
                            <th scope="col">Participating Teams</th>
                            <th scope="col">Match date</th>
                            <th scope="col">League</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="match : ${game.matches}">
                            <td th:text="${match.name}">Name...</td>
                            <td class="teams">
                                <div sec:authorize="!isAuthenticated()">
                                    <span th:each="team, iterStat : ${match.teams}" style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                        <span th:if="${team.imageUrl == null}" th:text="${team.name}">TBD</span>
                                        <img th:if="${team.imageUrl != null}" th:title="${team.name}" th:src="${team.imageUrl}" class="league-img"></img>
                                    </span>
                                </div>

                                <div sec:authorize="isAuthenticated()">
                                    <a class="team-link " th:href="@{/registered/{gameId}/{teamId}(gameId = ${game.id}, teamId = ${team.id})}" th:each="team, iterStat : ${match.teams}" style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                        <span th:if="${team.imageUrl == null}" th:text="${team.name}">TBD</span>
                                        <img th:if="${team.imageUrl != null}" th:title="${team.name}" th:src="${team.imageUrl}" class="league-img"></img>
                                    </a>
                                </div>
                            </td>
                            <td th:text="${#dates.format(match.beginAt, 'dd-MM-yyyy HH:mm a')}">Date...</td>
                            <td>
                                <span style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                    <span th:if="${match.leagueImg == null}" th:text="${match.leagueName}"></span>
                                    <img th:if="${match.leagueImg != null}" class="league-img" th:title="${match.leagueName}" th:src="${match.leagueImg}"></img>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>